@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
	margin: 0;
	padding: 0;
}

.container{
	margin: 0px 60px;
}

header{
	background-color:#252525;
	height: 200px;
	background-image: url('../images/python1.jpg');
	width: 100%;
}

.navbar{
	padding: 8px;
	/* background-color: blanchedalmond; */
}

nav img{
	background-color:rgb(190, 190, 90);
	margin-left: 0px;
}

nav ul{
	list-style-type: none;
	margin-top: 20px;
	margin-right: 0px;

}

.active{
    border-bottom: 2px solid rgb(190, 190, 90);
}

nav ul li{
	display: inline;
	padding: 5px;

}

nav ul li a{
	margin-top: 10px;
	cursor: pointer;
	text-decoration: none;
	color: rgb(190, 190, 90);
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

nav ul li a:hover{
	color: rgb(80, 80, 31);
}

.jumbotron{
	text-align: left;
	color: rgb(190, 190, 90);
	margin-top: 250px;
	font-family:'Raleway', sans-serif;
}


.start-button{
	position: relative;
	border: 2px solid rgb(190, 190, 90);
	color: white;
	padding: 5px 20px;

	text-decoration: none;
	font-family:'Raleway', sans-serif;
	top: 70px;
	
}

.start-button:hover{
	background-color: rgb(190, 190, 90);
	color: black;
	opacity: 0.8s;
	transition: 0.5s;
	
}


footer{
	background-color: #232931;
	padding: 10px;
	text-align: center;
	height: 50px;
	font-size: 1.5em;
	font-family:'Raleway', sans-serif;
}

footer p{
	margin-top: 120px;
}

@media screen and (max-width: 740px) {
	 nav img{
		 margin-left: 8px;
	 }
	 header{
		 height: 600px;
	 }
	 .jumbotron{
		 margin-top: 30px;
	 }
	 footer{
		 height: 300px;
	 }

	 footer p{
		 margin-top: 50px;
	 }

 }

 @media screen and (min-width: 768px) {
	nav img{
		float: left;
	}
	header{
		height: 700px;
	}
	footer{
		height: 300px;
		padding-top: 120px;
	}

}

@media screen and (min-width: 375px) {
	nav img{
		margin-left: 50px;
	}

	footer{
		padding-top: 10px;
	}

}

@media screen and (min-width: 414px) {
	
	nav ul{
		position: relative;
		float: left;
		left: 48px;
	}
	footer{
		padding-top: 30px;
	}

}

/* @media screen and (min-width: 550px) {
	nav img{
		background-color: red;
	}
}

@media screen and (min-width: 800px) {
	nav img{
		background-color: red;
	}
 } */
